name: Checks

on:
  push:
    tags-ignore:
      - '*' # Do not run on pushed tags
  pull_request:
    branches:
      - main # Run on pull requests to main
    types: [opened, synchronize, reopened, labeled, unlabeled]

permissions:
  contents: read # Required to clone repository
  id-token: write # Required for OIDC trusted publishing authentication
  packages: write # Required to publish to GitHub registry

jobs:
  checks:
    if: ${{ !startsWith(github.ref, 'refs/heads/version/') }}
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '24.5.0'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Required to fetch all tags

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Read old version from package.json
        id: read-old-version
        shell: bash
        run: |
          old_version=$(npm pkg get version | tr -d '"')
          echo "old_version=$old_version" >> $GITHUB_OUTPUT

      - name: Bump package version major
        if: |
          steps.read-old-version.outputs.old_version != null &&
          contains(github.event.pull_request.labels.*.name, 'major')
        shell: bash
        run: npm version major --no-git-tag-version

      - name: Bump package version minor
        if: |
          steps.read-old-version.outputs.old_version != null &&
          contains(github.event.pull_request.labels.*.name, 'minor')
        shell: bash
        run: npm version minor --no-git-tag-version

      - name: Bump package version patch
        if: |
          steps.read-old-version.outputs.old_version != null &&
          contains(github.event.pull_request.labels.*.name, 'patch')
        shell: bash
        run: npm version patch --no-git-tag-version

      - name: Read new version from package.json
        id: read-new-version
        if: ${{ steps.read-old-version.outputs.old_version != null }}
        shell: bash
        run: |
          new_version=$(npm pkg get version | tr -d '"')
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Check no tag exist
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        run: |
          ! git show-ref --tags --verify --quiet "refs/tags/v${{ steps.read-new-version.outputs.new_version }}" || exit 1

      - name: Setup NodeJS with GitHub package registry
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@${{ github.repository_owner }}'

      - name: Test package publish to GitHub registry
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: npm publish --dry-run

      - name: Setup NodeJS with npm registry
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          scope: '@${{ github.repository_owner }}'

      - name: Test package publish to npm registry
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        shell: bash
        run: npm publish --dry-run

      - name: Test tarball pack
        if: ${{ steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version }}
        run: npm pack --dry-run

      - name: Prepare GitHub bot app credentials
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Test no GitHub release exist
        if: |
          steps.read-old-version.outputs.old_version != steps.read-new-version.outputs.new_version &&
          steps.app-token.outputs.token != null
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        shell: bash
        run: |
          ! gh api repos/${{ github.repository }}/releases/tags/v${{ steps.read-new-version.outputs.new_version }} || exit 1
