name: Manual release

on:
  # Trigger manually
  workflow_dispatch:
    inputs:
      gifsicle-version:
        description: 'Gifsicle version to build'
        required: true
        type: string
        default: '1.96'
      emscripten-version:
        description: 'Emscripten version to use'
        required: true
        type: string
        default: '4.0.19'

jobs:
  manual-release:
    runs-on: ubuntu-latest

    env:
      EMCC_CORES: 2 # Default for ubuntu-latest runner

    steps:
      - name: Checkout gifsicle repository
        uses: actions/checkout@v6
        with:
          repository: 'kohler/gifsicle'
          ref: 'v${{ github.event.inputs.gifsicle-version }}'

      - name: Checkout own repository
        uses: actions/checkout@v6
        with:
          path: source

      - name: Copy closure externs
        shell: bash
        run: cp ./source/closure-externs.js ./closure-externs.js

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: ${{ github.event.inputs.emscripten-version }}

      - name: Run bootstrap script
        shell: bash
        run: ./bootstrap.sh

      - name: Emscripten configure
        shell: bash
        run: emconfigure ./configure --disable-gifview --disable-gifdiff

      - name: Emscripten make
        shell: bash
        run: emmake make

      - name: Emscripten compile
        shell: bash
        run: |
          emcc ./src/*.o -o ./src/gifsicle.js \
            -g0 \
            -flto \
            -O3 \
            --closure 1 \
            --closure-args="--externs ./closure-externs.js" \
            -s ENVIRONMENT=worker \
            -s ALLOW_MEMORY_GROWTH=1 \
            -s IGNORE_MISSING_MAIN=0 \
            -s INVOKE_RUN=0 \
            -s MODULARIZE=1 \
            -s EXPORTED_RUNTIME_METHODS=FS,callMain \
            -s INCOMING_MODULE_JS_API=locateFile,print,printErr \
            -s EXPORT_NAME=createModule \
            -s EXPORT_ES6=1

      - name: Upload WASM artifact
        uses: actions/upload-artifact@v5
        with:
          name: gifsicle-wasm
          path: ./src/gifsicle.wasm
          if-no-files-found: error
          compression-level: 9
          overwrite: true

      - name: Upload JS artifact
        uses: actions/upload-artifact@v5
        with:
          name: gifsicle-js
          path: ./src/gifsicle.js
          if-no-files-found: error
          compression-level: 9
          overwrite: true
