name: Manual release

on:
  # Trigger manually
  workflow_dispatch:
    inputs:
      gifsicle-version:
        description: 'Gifsicle version to build'
        required: true
        type: string
        default: '1.96'
      emscripten-version:
        description: 'Emscripten version to use'
        required: true
        type: string
        default: '4.0.20'

permissions:
  contents: read # Required to clone repository
  id-token: write # Required for OIDC trusted publishing authentication
  packages: write # Required to publish to GitHub registry

env:
  GS_VERSION: ${{ github.event.inputs.gifsicle-version }}
  GS_SEMVER_VERSION: '${{ github.event.inputs.gifsicle-version }}.0'
  GS_REPO: 'kohler/gifsicle'
  NODE_VERSION: '24.5.0'
  VERSION_FILES_LABEL: 'version-files'
  VERSION_BRANCH_PREFIX: 'version/v'
  MAIN_BRANCH: 'main'

jobs:
  prepare:
    name: Run prepare checks

    runs-on: ubuntu-latest

    steps:
      - name: Check gifsicle version tag exist
        shell: bash
        run: |
          git ls-remote --exit-code \
            https://github.com/${{ env.GS_REPO }}.git \
            refs/tags/v${{ env.GS_VERSION }}

      - name: Check no own version tag exist
        shell: bash
        run: |
          ! git ls-remote --exit-code \
              https://github.com/${{ github.repository }}.git \
              refs/tags/v${{ env.GS_SEMVER_VERSION }}

      - name: Check no own GitHub release exist
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          ! gh release view v${{ env.GS_SEMVER_VERSION }} --repo ${{ github.repository }}

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check package version set
        shell: bash
        run: npm version ${{ env.GS_SEMVER_VERSION }} --no-git-tag-version

      - name: Test pack package tarball
        shell: bash
        run: npm pack --dry-run

      - name: Setup NodeJS with npm registry
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          scope: '@${{ github.repository_owner }}'

      - name: Get package version from npm registry version
        id: npm-regsitry-version
        shell: bash
        run: |
          version=$(npm view @${{ github.repository }} version)
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Check no package version exist in npm registry
        if: ${{ steps.npm-regsitry-version.outputs.version == env.GS_SEMVER_VERSION }}
        shell: bash
        run: exit 1

      - name: Test package publish to npm registry
        shell: bash
        run: npm publish --dry-run

      - name: Setup NodeJS with GitHub package registry
        uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@${{ github.repository_owner }}'

      - name: Get package version from npm registry version
        id: github-regsitry-version
        shell: bash
        run: |
          version=$(npm view @${{ github.repository }} version)
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Check no package version exist in GitHub registry
        if: ${{ steps.github-regsitry-version.outputs.version == env.GS_SEMVER_VERSION }}
        shell: bash
        run: exit 1

      - name: Test package publish to GitHub registry
        shell: bash
        run: npm publish --dry-run

      - name: Prepare GitHub bot app credentials
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          skip-token-revoke: true

      - name: Check GitHub bot app slug exist
        if: ${{ steps.app-token.outputs.app-slug == null }}
        shell: bash
        run: exit 1

      - name: Check GitHub bot app token exist
        if: ${{ steps.app-token.outputs.token == null }}
        shell: bash
        run: exit 1

      - name: Get GitHub App User ID
        id: get-app-user-id
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          app_user_id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)
          echo "app_user_id=$app_user_id" >> $GITHUB_OUTPUT

      - name: Check GitHub bot app user ID exist
        if: ${{ steps.get-app-user-id.outputs.app_user_id == null }}
        shell: bash
        run: exit 1

  build:
    name: Build gifsicle artifacts

    needs: prepare

    runs-on: ubuntu-latest

    env:
      EM_VERSION: ${{ github.event.inputs.emscripten-version }}
      EM_CACHE_FOLDER: 'emsdk-cache'
      EMCC_CORES: 2 # Default for ubuntu-latest runner

    steps:
      - name: Checkout gifsicle repository
        uses: actions/checkout@v6
        with:
          repository: 'kohler/gifsicle'
          ref: 'v${{ env.GS_VERSION }}'

      - name: Checkout own repository
        uses: actions/checkout@v6
        with:
          path: source

      - name: Verify bootstrap script
        shell: bash
        run: test ! -f ./bootstrap.sh && cp ./source/bootstrap.sh ./bootstrap.sh

      - name: Copy closure externs
        shell: bash
        run: cp ./source/closure-externs.js ./closure-externs.js

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: ${{env.EM_CACHE_FOLDER}}
          key: ${{env.EM_VERSION}}-${{ runner.os }}

      - name: Setup Emscripten
        uses: agriyakhetarpal/setup-emsdk@6ab9eb1bda2574c4ddb79809fc9247783eaf9021
        with:
          version: ${{ env.EM_VERSION }}
          actions-cache-folder: ${{ env.EM_CACHE_FOLDER }}

      - name: Run bootstrap script
        shell: bash
        run: test -f ./configure.ac && bash ./bootstrap.sh

      - name: Emscripten configure
        shell: bash
        run: emconfigure ./configure --disable-gifview --disable-gifdiff

      - name: Emscripten make
        shell: bash
        run: emmake make

      - name: Emscripten compile
        shell: bash
        run: |
          emcc ./src/*.o -o ./src/gifsicle.js \
            -g0 \
            -flto \
            -O3 \
            --closure 1 \
            --closure-args="--externs ./closure-externs.js" \
            -s ENVIRONMENT=worker \
            -s ALLOW_MEMORY_GROWTH=1 \
            -s IGNORE_MISSING_MAIN=0 \
            -s INVOKE_RUN=0 \
            -s MODULARIZE=1 \
            -s EXPORTED_RUNTIME_METHODS=FS,callMain \
            -s INCOMING_MODULE_JS_API=locateFile,print,printErr \
            -s EXPORT_NAME=createModule \
            -s EXPORT_ES6=1

      - name: Upload WASM artifact
        uses: actions/upload-artifact@v5
        with:
          name: gifsicle-wasm
          path: ./src/gifsicle.wasm
          if-no-files-found: error
          compression-level: 9
          overwrite: true

      - name: Upload JS artifact
        uses: actions/upload-artifact@v5
        with:
          name: gifsicle-js
          path: ./src/gifsicle.js
          if-no-files-found: error
          compression-level: 9
          overwrite: true

  publish:
    name: Publish gifsicle artifacts

    needs:
      - build
      - prepare

    runs-on: ubuntu-latest

    steps:
      - name: Download JS artifact
        id: download-js
        uses: actions/download-artifact@v6
        with:
          name: gifsicle-js
          path: ./dist

      - name: Check JS artifact downloaded exist
        shell: bash
        run: test -f ./dist/gifsicle.js || exit 1

      - name: Download WASM artifact
        id: download-wasm
        uses: actions/download-artifact@v6
        with:
          name: gifsicle-wasm
          path: ./dist

      - name: Check WASM artifact downloaded exist
        shell: bash
        run: test -f ./dist/gifsicle.wasm || exit 1

      - name: Prepare GitHub bot app credentials
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          skip-token-revoke: true

      - name: Get GitHub App User ID
        id: get-app-user-id
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          app_user_id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)
          echo "app_user_id=$app_user_id" >> $GITHUB_OUTPUT

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup git credentials
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-app-user-id.outputs.app_user_id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Create version branch
        shell: bash
        run: git checkout -b ${{ env.VERSION_BRANCH_PREFIX }}${{ env.GS_SEMVER_VERSION }}

      - name: Push version branch
        shell: bash
        run: git push -u origin ${{ env.VERSION_BRANCH_PREFIX }}${{ env.GS_SEMVER_VERSION }}

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Set package version
        shell: bash
        run: npm version ${{ env.GS_SEMVER_VERSION }} --no-git-tag-version

      - name: Commit changes
        uses: iarekylew00t/verified-bot-commit@v2
        with:
          token: ${{ steps.app-token.outputs.token }}
          auto-stage: true
          ref: 'refs/heads/${{ env.VERSION_BRANCH_PREFIX }}${{ env.GS_SEMVER_VERSION }}'
          message: 'Version bump to v${{ env.GS_SEMVER_VERSION }}'
          files: |
            **

      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh pr create \
            --base ${{ env.MAIN_BRANCH }} \
            --label ${{ env.VERSION_FILES_LABEL }} \
            --head ${{ env.VERSION_BRANCH_PREFIX }}${{ env.GS_SEMVER_VERSION }} \
            --title "Version bump to v${{ env.GS_SEMVER_VERSION }}" \
            --body "Bump version in files to v${{ env.GS_SEMVER_VERSION }}"

      # TODO: Publish npm

      # TODO: Publish Github registry

      # TODO: Commit package.json

      # TODO: Push commit

      # TODO: Push new tag

      # TODO: Push GitHub Release
