name: Nightly check
description: Checks for new gifsicle git tag release every midnight

on:
  workflow_dispatch:
    inputs:
      emscripten-version:
        description: 'Emscripten version to use'
        required: true
        type: string
        default: '4.0.20'
      patch-version:
        description: 'Patch version to use'
        required: true
        type: string
        default: '0'
  # schedule:
  #   - cron: '0 0 * * *' # runs every day at 00:00 UTC (midnight)

permissions:
  contents: write
  id-token: write
  packages: write

env:
  GS_REPO: 'kohler/gifsicle'
  EM_VERSION: ${{ github.event.inputs.emscripten-version || '4.0.20' }}
  PATCH_VERSION: ${{ github.event.inputs.patch-version || '0' }}

jobs:
  latest-version:
    name: Check gifsicle new git tag released
    runs-on: ubuntu-latest
    steps:
      - name: Get latest gifsicle git tag
        id: gifsicle-latest-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ env.GS_REPO }}.git \
            | tail -n1 \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Try to get own gifsicle latest git tag
        id: gifsicle-own-tag
        if: |
          steps.gifsicle-latest-tag.outputs.tag != null &&
          steps.gifsicle-latest-tag.outputs.tag != ''
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ github.repository }}.git \
            refs/tags/${{ steps.gifsicle-latest-tag.outputs.tag }} \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Convert tag to version number
        id: gifsicle-latest-version
        if: |
          steps.gifsicle-latest-tag.outputs.tag != null &&
          steps.gifsicle-latest-tag.outputs.tag != '' &&
          steps.gifsicle-latest-tag.outputs.tag != steps.gifsicle-own-tag.outputs.tag
        shell: bash
        run: |
          tag="${{ steps.gifsicle-latest-tag.outputs.tag }}"
          version="${tag#v}"
          echo "version=$version" >> $GITHUB_OUTPUT

    outputs:
      gifsicle-version: ${{ steps.gifsicle-latest-version.outputs.version }}

  # Required to use env in reusable local workflow
  env-to-outputs:
    name: Convert env to outputs
    needs: latest-version
    if: |
      needs.latest-version.outputs.gifsicle-version != null &&
      needs.latest-version.outputs.gifsicle-version != ''
    runs-on: ubuntu-latest
    outputs:
      emscripten-version: ${{ env.EM_VERSION }}
      patch-version: ${{ env.PATCH_VERSION }}
    steps:
      # Jobs require at least one step
      - name: Print
        run: echo "Converting env to outputs"

  call-release:
    name: Release
    needs:
      - latest-version
      - env-to-outputs
    if: |
      needs.latest-version.outputs.gifsicle-version != null &&
      needs.latest-version.outputs.gifsicle-version != ''
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
      id-token: write
      packages: write
    secrets: inherit
    with:
      is-latest: true
      gifsicle-version: ${{ needs.latest-version.outputs.gifsicle-version }}
      emscripten-version: ${{ needs.env-to-outputs.outputs.emscripten-version }}
      patch-version: ${{ needs.env-to-outputs.outputs.patch-version }}
