name: Nightly new version check

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 * * *' # runs every day at 00:00 UTC (midnight)

jobs:
  nightly-check:
    name: Check gifsicle new version

    runs-on: ubuntu-latest

    steps:
      - name: Get latest gifsicle tag
        id: gifsicle-latest-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/kohler/gifsicle.git \
            | tail -n1 \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      # TODO: Does not check for semver tag form (use both when publishing)
      - name: Get own gifsicle tag
        id: gifsicle-own-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ github.repository }}.git \
            refs/tags/v${{ steps.gifsicle-latest-tag.outputs.tag }} \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Tag to version
        id: gifsicle-latest-version
        if: ${{ steps.gifsicle-latest-tag.outputs.tag != steps.gifsicle-own-tag.outputs.tag }}
        shell: bash
        run: |
          tag="${{ steps.gifsicle-latest-tag.outputs.tag }}"
          version="${tag#v}"
          echo "version=$version" >> $GITHUB_OUTPUT

    outputs:
      gifsicle-version: '${{ steps.gifsicle-latest-version.outputs.version }}'

  call-manual-release:
    needs: nightly-check
    uses: ./.github/workflows/manual-release.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      gifsicle-version: '${{ needs.nightly-check.outputs.gifsicle-version }}'
