name: Nightly new version check

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 * * *' # runs every day at 00:00 UTC (midnight)

jobs:
  nightly-check:
    name: Check gifsicle new version

    runs-on: ubuntu-latest

    steps:
      - name: Get latest gifsicle tag
        id: gifsicle-latest-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/kohler/gifsicle.git \
            | tail -n1 \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Get own gifsicle tag
        id: gifsicle-own-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ github.repository }}.git \
            refs/tags/v${{ steps.gifsicle-latest-tag.outputs.tag }} \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Print result
        if: ${{ steps.gifsicle-latest-tag.outputs.tag == steps.gifsicle-own-tag.outputs.tag }}
        run: echo "No new version found"

      - name: Print latest tag
        if: ${{ steps.gifsicle-latest-tag.outputs.tag != steps.gifsicle-own-tag.outputs.tag }}
        run: |
          echo "gifsicle latest: ${{ steps.gifsicle-latest-tag.outputs.tag }}"
          echo "own tag: ${{ steps.gifsicle-own-tag.outputs.tag}}"
          echo "Found new version"

    # uses: ./.github/workflows/manual-release.yml
    # with:
    #   gifsicle-version: '1.96'
    #   emscripten-version: '4.0.20'
    #   patch-version: '0'

    # git ls-remote --tags https://github.com/kohler/gifsicle.git refs/tags/v* | head -n1 | grep -o 'refs/tags/.*' | cut -d/ -f3
