name: Nightly check for new version

on:
  workflow_dispatch:
    inputs:
      emscripten-version:
        description: 'Emscripten version to use'
        required: true
        type: string
        default: '4.0.20'
      patch-version:
        description: 'Patch version to use'
        required: true
        type: string
        default: '0'
  # schedule:
  #   - cron: '0 0 * * *' # runs every day at 00:00 UTC (midnight)

permissions:
  contents: read
  id-token: write
  packages: write

env:
  GS_REPO: 'kohler/gifsicle'
  EM_VERSION: ${{ github.event.inputs.emscripten-version || '4.0.20' }}
  PATCH_VERSION: ${{ github.event.inputs.patch-version || '0' }}

jobs:
  new-version-check:
    name: Check gifsicle new version
    runs-on: ubuntu-latest
    steps:
      - name: Get latest gifsicle tag
        id: gifsicle-latest-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ env.GS_REPO }}.git \
            | tail -n1 \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      # TODO: Does not check for semver tag form (use both when publishing)
      - name: Get own gifsicle tag
        id: gifsicle-own-tag
        shell: bash
        run: |
          echo "tag=$(git ls-remote --tags https://github.com/${{ github.repository }}.git \
            refs/tags/v${{ steps.gifsicle-latest-tag.outputs.tag }} \
            | grep -o 'refs/tags/.*' \
            | cut -d/ -f3)" >> $GITHUB_OUTPUT

      - name: Tag to version
        id: gifsicle-latest-version
        if: ${{ steps.gifsicle-latest-tag.outputs.tag != steps.gifsicle-own-tag.outputs.tag }}
        shell: bash
        run: |
          tag="${{ steps.gifsicle-latest-tag.outputs.tag }}"
          version="${tag#v}"
          echo "version=$version" >> $GITHUB_OUTPUT

    outputs:
      gifsicle-version: ${{ steps.gifsicle-latest-version.outputs.version }}

  env-to-outputs:
    runs-on: ubuntu-latest
    needs: new-version-check
    outputs:
      emscripten-version: ${{ env.EM_VERSION }}
      patch-version: ${{ env.PATCH_VERSION }}
    steps:
      # Jobs require at least one step
      - name: Print
        run: echo "Converting env to outputs"

  call-release:
    name: Release
    needs:
      - new-version-check
      - env-to-outputs
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
      id-token: write
      packages: write
    secrets: inherit
    with:
      gifsicle-version: ${{ needs.new-version-check.outputs.gifsicle-version }}
      emscripten-version: ${{ needs.env-to-outputs.outputs.emscripten-version }}
      patch-version: ${{ needs.env-to-outputs.outputs.patch-version }}
