# Pushes new git version tag parsed from package.json file merged to main branch by version-files PR

# Pipeline:
# 1. Triggered by package.json push to main from PR with version-files label merge commit 
# 2. Retrieves merged PR label
# 3. Checks label against version-label
# 4. Reads version from package.json
# 5. Uses version to create and push git tag to remote with release message

# Requirements:
# - required labels: version-files
# - merged PR must have assigned label: version-files
# - secrets.PAT_TOKEN
# - secrets.GPG_PRIVATE_KEY
# - secrets.PASSPHRASE
# - secrets.USER_EMAIL
# - secrets.USER_NAME

name: Push new version tag

on:
  push:
    tags-ignore:
      - '*' # Do not run on pushed tags
    branches:
      - main # Run only on push to main
    paths:
      - 'package.json' # Run only when package.json file is updated

permissions:
  contents: write # Required to push a new tag

jobs:
  version-tag:
    runs-on: ubuntu-latest

    env:
      VERSION_FILES_LABEL: 'version-files'

    steps:
      - name: Get merged PR
        id: get-merged-pull-request
        uses: actions-ecosystem/action-get-merged-pull-request@v1
        with:
          github_token: ${{ secrets.PAT_TOKEN }}

      - name: Checkout code
        # Continue only if PR has version-files label
        if: ${{ steps.get-merged-pull-request.outputs.labels == env.VERSION_FILES_LABEL }}
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Required to fetch all tags
          token: ${{ secrets.PAT_TOKEN }}

      - name: Setup NodeJS
        # Continue only if PR has version-files label
        if: ${{ steps.get-merged-pull-request.outputs.labels == env.VERSION_FILES_LABEL }}
        uses: actions/setup-node@v6
        with:
          node-version: '24.5.0'

      - name: Read version from package.json
        id: read-version
        # Continue only if PR has version-files label
        if: ${{ steps.get-merged-pull-request.outputs.labels == env.VERSION_FILES_LABEL }}
        shell: bash
        run: |
          new_version=$(npm pkg get version | tr -d '"')
          echo "new_version=$new_version" >> $GITHUB_OUTPUT
      
      - name: Import GPG key
        id: import-gpg
        # Continue only with new semver version number
        if: ${{ steps.read-version.outputs.new_version != null }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_tag_gpgsign: true

      - name: Setup git credentials
        # Continue only with resolved GPG key
        if: ${{ steps.import-gpg.outputs.keyid != null }}
        shell: bash
        run: |
          git config user.email "${{ secrets.USER_EMAIL }}"
          git config user.name "${{ secrets.USER_NAME }}"

      - name: Create new git version tag
        # Continue only with new semver version number
        if: ${{ steps.read-version.outputs.new_version != null }}
        # Continue only with resolved GPG key
        if: ${{ steps.import-gpg.outputs.keyid != null }}
        shell: bash
        run: |
          tag=v${{ steps.read-version.outputs.new_version }}
          keyid=${{ steps.import-gpg.outputs.keyid }}
          git tag -u ${keyid} -a "${tag}" -m "Release ${tag}"

      - name: Push tag
        # Continue only with new semver version number
        if: ${{ steps.read-version.outputs.new_version != null }}
        # Continue only with resolved GPG key
        if: ${{ steps.import-gpg.outputs.keyid != null }}
        shell: bash
        run: |
          tag=v${{ steps.read-version.outputs.new_version }}
          git push origin "${tag}"
